# Ignore all files and directories except the 'customtheme' directory
/*

!/wp-content/
!/wp-content/themes/
!/wp-content/themes/customtheme/
!/wp-content/plugins/
!/wp-content/plugins/faqs/
!/wp-content/plugins/advanced-custom-fields/

# Ignore all other files and directories
*